extends layout

block content
	.container
		h1 About US
		p Use this document as a way to quickly start any new project.Allyou get is this text and a mostly barebones HTML document.Use this document as a way to quickly start any new project.Allyou get is this text and a mostly barebones HTML document.Use this document as a way to quickly start any new project.Allyou get is this text and a mostly barebones HTML document.Use this document as a way to quickly start any new project.Allyou get is this text and a mostly barebones HTML document.Use this document as a way to quickly start any new project.Allyou get is this text and a mostly barebones HTML document.Use this document as a way to quickly start any new project.Allyou get is this text and a mostly barebones HTML document.
		ul
			li link one
			li link two
			li link three
		p Use this document as a way to quickly start any new project.Use this document as a way to quickly start any new project.Allyou get is this text and a mostly barebones HTML document.Use this document as a way to quickly start any new project.Allyou get is this text and a mostly barebones HTML document.Use this document as a way to quickly start any new project.Allyou get is this text and a mostly barebones HTML document.Use this document as a way to quickly start any new project.Allyou get is this text and a mostly barebones HTML document.Use this document as a way to quickly start any new project.Allyou get is this text and a mostly barebones HTML document.
		