extends layout

block content
	.jumbotron
		.container
			h1 how may I help You ?
			p Use this document as a way to quickly start any new project.All you get is this text and a mostly barebones HTML document.
			a.btn.btn-primary.btn-lg(href='#') learn more &raquo;
	.container
		.row
			.col-md-4
				h2 About US
				p Use this document as a way to quickly start any new project.All you get is this text and a mostly barebones HTML 
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Services
				p Use this document as a way to quickly start any new project.All you get is this text and a mostly barebones HTML 
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Get In Touch
				p Use this document as a way to quickly start any new project.All you get is this text and a mostly barebones HTML 
				a.btn.btn-default(href='#') View Details